body {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.page_layout {
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.plan {
    border: 1px solid black;
    text-align: center;
    padding: 3px;
}

.plan_layout {
    border-spacing: 0;    
    border-collapse: collapse;
}

.plan_header {
    border-spacing: 0;    
    border-collapse: collapse;
    border-bottom: 5px solid black;
}

.phase {
    font-size: 1.5em;
    font-weight: bold;
    white-space: nowrap;
    vertical-align: middle;
}

.phase div {
    transform: rotate(-90deg);
    margin-left: -10em;
    margin-right: -10em;
}

.week {
    font-size: 1em;
    font-weight: bold;
    border-right: 5px solid black;
}

.day {
    font-size: 0.6em;
    vertical-align:top;
    white-space: nowrap;
}

.totals {
    font-size: 0.6em;
}

.base {
    background-color: #2cd0ec;
}

.initial {
    background-color: #ff598f;
}

.transition {
    background-color: #fd8a5e;
}

.final {
    background-color: #15c558;
}

.easy {
    background-color: #2cd0ec;
}

.repetitions {
    background-color: #e0e300;
}

.interval {
    background-color: #fd8a5e;
}

.threshold {
    background-color: #ff598f;
}

.long {
    background-color: #15c558;
}

.optional {
    background-color: #e4e4e4;
    color: #818181;
}

.type {
    font-weight: bold;
}

.notes {
    font-size: 0.7em;
}

.totals {
    font-size: 0.7em;
    border-left: 5px solid black;
}

.calendar_layout {
    padding: 5px;
    float: left; 
    border-spacing: 0;    
    border-collapse: collapse;
}

.calendar_header {    
    font-weight: bold;
}

.calendar {
    font-size: 0.7em;
    text-align:center;
    padding: 3px;
    border: 1px solid black;
}

.empty {
    background-color: #e4e4e4;
    color: #e4e4e4;
}