<!doctype html>
<html>
  <head>
    {% block head %}
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <title>{% block title %}{% endblock %}</title>
    {% endblock %}
  </head>
  <body>
    <div id="table">{% block table %}{% endblock %}</div>
    <div id="calendar">{% block calendar %}{% endblock %}</div>
    <div id="footer">{% block footer %}{% endblock %}
    </div>
  </body>
</html>