{% extends "base.html" %}
{% block calendar %}

<div class="page_layout">
    {% for month, cal in t.calendar().items() %}
        <div class="calendar_layout">
            <table class="calendar_layout">
                <tr>
                    <td colspan=7 class="calendar calendar_header">
                        {{month[2]}} {{month[0]}}
                    </td>
                </tr>
                <tr>
                    {% for day in ['Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa', 'Su'] %}
                        <td class="calendar calendar_header">
                            {{ day }}
                        </td>
                    {% endfor %}
                </tr>

                {% for week in cal %}
                    <tr>
                        {% for mday in week %}
                            {% set phase = t.phase(month[0], month[1], mday) %}

                            {% if mday == 0 %}
                                <td class="empty calendar">
                            {% elif phase %}
                                <td class="{{ phase|lower }} calendar">
                            {% else %}
                                <td class="calendar">
                            {% endif %}

                                {{ mday }}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% endfor %}
</div>

{% endblock %}