{% extends "base.html" %}
{% block table %}

<div class="page_layout">
    <table class="plan_layout">

        <tr>
            {% for element in  header %}
                <th class="plan plan_header">
                    {{ element }}
                </th>
            {% endfor %}
        </tr>

        {% for phase in t.phases() %}
            {% for week in t.weeks(phase) %}
                <tr>
                    {% if loop.index == 1 %}              
                        <td 
                            class="{{ t.name(phase)|lower }} plan phase"
                            rowspan={{ t.weeks(phase)|length }}>
                                <div>
                                    {{ t.name(phase) }}
                                </div>
                        </td>
                    {% endif %}
                
                    <td class="{{ t.name(phase)|lower }} plan week">
                        {{ week }}
                    </td>

                    {% for wday in range(1,8) %}

                        {% if t.day(week, wday).optional %}
                            {% set day_class = "optional" %}
                        {% else %}
                            {% set day_class = t.day(week, wday).type|lower %}
                        {% endif %}

                        <td class="plan day {{ day_class }}">
                            <div class="type">
                                {{ t.day(week, wday).type }}
                            </div>

                            <div>
                                {{ t.day(week, wday).workout }}<br>
                            </div>

                            <div class="notes">
                                {% if t.day(week, wday).wu %}
                                    WU: {{ t.day(week, wday).wu }}
                                {% endif %}

                                {% if t.day(week, wday).wu %}
                                    / CD: {{ t.day(week, wday).cd }}
                                {% endif %}
                            </div>
                        </td>
                    {% endfor %}

                    <td class="plan totals">
                        sum
                    </td>
                </tr>
            {% endfor %}
        {% endfor %}
    </table>
</div>

{% endblock %}
